/* The code below makes the background of the header black and the font color of the title white. Change this to match what you want for your website. */
header {
    background-color: black;
    color: white;
    padding: 128px 16px;
}

body{
    background-color: #afeeee;
}

img{
    width: 60%;
}

.image{
    display: flex;
    justify-content: center;
}

.animal{
    width: 48%;
}

.animalImg{
    display: flex;
    justify-content: space-evenly;
}

p{
    font-size: 80%;
}

p:hover{
    font-size: 125%;
}